{{!-- Displays all cards that the user has sumbitted--}}
<h1>User Dashboard</h1>
{{#each posts as |post|}}
<div class= "row mb-2">
<div class="card">
    <div class="card-body">
        This is some text within a card body.
    </div>
</div>
</div>
{{/each}}